@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
.aurore{
    background-color: #000;
    color: #bfbfbf;
    background-repeat:space;
    background-image: url(assets/images/aurore.jpg);
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.mg-img{
    display: block;
    width: 40%;
    height: 10cm;
}