@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
.aurore{
    background-color: #000;
    color: #bfbfbf;
    background-repeat:space;
    background-image: url(assets/images/aurore.jpg);
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.mg-img{
    display: block;
    width: 40%;
    height: 7cm;
}

.mg-carousel{
    height: 10cm;
    margin-bottom: 3cm;
    margin-top: 1cm;
}

.mg-foot{

    margin-top: 5px;
    padding: 40rem 0 rem 0;
    min-height: 100px;
    background-color: #000;
}
.mg-bg{
   background-image: url(assets/images/bg.png);
}

.mg-bg1{
   background-image: url(assets/images/auro.png);
}

.mg-bg2{
  background-image: url(assets/images/bg2.png);
  margin: 0%;
  background-repeat: no-repeat;
}

.mg-bg3{
   background-image: url(assets/images/bgff.png);
}