<accordion>
  <accordion-group heading="Static Header, initially expanded">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
</accordion>
<alert type="success">
  <strong>Well done!</strong> You successfully read this important alert message.
</alert>
<alert type="info">
  <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</alert>
<alert type="warning">
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</alert>
<alert type="danger">
  <strong>Oh snap!</strong> Change a few things up and try submitting again.
</alert>
<button type="button" class="btn btn-primary" [disabled]="disabled">Button</button>
<button type="button" class="btn btn-warning" (click)="disabled = !disabled">Enable/Disable</button>
<carousel>
  <slide>
    <img src="assets/images/smartAdmin.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/sadm.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/sadmin.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Toggle collapse
</button>
<hr>
<div id="collapseBasic" [collapse]="isCollapsed" class="card card-block card-header">
  <div class="well well-lg">Some content</div>
</div>
<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker>
  </div>
</div>
<pagination [totalItems]="70"></pagination>
<button type="button" class="btn btn-default btn-secondary" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
  popoverTitle="Popover on right" placement="right">
  Popover on right
</button>
<div class="row">
  <div class="col-sm-4">
    <div class="mb-2">
      <progressbar [value]="55"></progressbar>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="mb-2">
      <progressbar [value]="22" type="warning" [striped]="true">22%</progressbar>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="mb-2">
      <progressbar max="200" [value]="166" type="danger" [striped]="true" [animate]="true"><i>166 / 200</i></progressbar>
    </div>
  </div>
</div>
<div>
  <tabset>
    <tab heading="Basic title" id="tab1">Basic content</tab>
    <tab heading="Basic Title 1">Basic content 1</tab>
    <tab heading="Basic Title 2">Basic content 2</tab>
  </tabset>
</div>
<timepicker [(ngModel)]="mytime"></timepicker>
<pre class="alert alert-info">Time is: {{mytime}}</pre>
<div>
  <rating [max]="10" [(ngModel)]="x" [customTemplate]="t" style="color: #0275d8;font-size: 20px;"></rating>
  <b>(
    <i>Rate:</i> {{x}})</b>
  <ng-template #t let-index="index" let-value="value">{{index
    < value ? '&#9745;' : '&#9744;'}}</ng-template>
</div>

<div>
  <rating [max]="10" [(ngModel)]="y" [customTemplate]="tt"></rating>
  <b>(
    <i>Rate:</i> {{y}})</b>
  <ng-template #tt let-i="index" let-v="value">
    <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
      {{i
      < v ? '&#9733;' : '&#9734;'}} </button>
  </ng-template>
</div>
<button type="button" class="btn btn-primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Simple demo
</button>
<pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre>
<input [(ngModel)]="selected" [typeahead]="states" class="form-control">